<div class="row my-3">
  <div class="col-3">
    <img src="{{url}}" class="rounded img-thumbnail" style="width: 200px; filter: blur(30px);" alt="affiche du film {{name}}" appBlurTicketImage>
  </div>
  <div class="col align-self-end">
    <div class="row">
      <div class="col-12">
        <span [innerHTML]="name | uneSurDeux"></span><span> - {{nbLefts}} restant(s)</span>
      </div>
      <div class="col-12">
        <p>{{description}}</p>
      </div>
      <div class="col-2">
        <button (click)="edit()" class="btn btn-outline-dark"><i class="bi bi-pen-fill"></i></button>
      </div>
      <div class="col-2">
        <button (click)="delete()" class="btn btn-outline-dark"><i class="bi bi-x-circle-fill"></i></button>
      </div>
    </div>
  </div>
</div>
