<div *ngFor="let ticket of this.tickets; let i = index;" class="container-fluid py-3">
  <app-ticket [name]="ticket.name"
              [description]="ticket.description"
              [url]="ticket.urlImage"
              [nbLefts]="ticket.nbLefts"
              (editEmitter)="editTicket(i)"
              (deleteEmitter)="deleteTicket(i)"></app-ticket>
</div>

<ng-template #editTicketModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier le ticket</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row my-3" *ngIf="ticketToEdit">
      <div class="col-3">
        <img src="{{ticketToEdit.urlImage}}" class="rounded img-thumbnail" style="width: 200px" alt="affiche du film {{ticketToEdit.name}}">
      </div>
      <div class="col align-self-end">
        <form>
          <div class="form-group my-3">
            <label for="name">Nom du film</label>
            <input id="name" name="name" class="form-control" placeholder="Nom du film" [(ngModel)]="ticketToEdit.name">
            <label for="description">Description du film</label>
            <input id="description" name="description" class="form-control" placeholder="Description du film" [(ngModel)]="ticketToEdit.description">
            <label for="places-restantes">Places restantes</label>
            <input id="places-restantes" name="places-restantes" class="form-control" placeholder="Nombre de places restantes" [(ngModel)]="ticketToEdit.nbLefts">
            <label for="url">Url du film</label>
            <input id="url" name="url" class="form-control" placeholder="URL" [(ngModel)]="ticketToEdit.urlImage">
          </div>
        </form>
      </div>
    </div>
    <div class="row my-3" *ngIf="!ticketToEdit">
      <div class="col-3">
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="col align-self-end">
        <p aria-hidden="true" class="placeholder-glow">
          <label>Nom du film</label>
          <span class="placeholder col-12"></span>
          <label>Description du film</label>
          <span class="placeholder col-12"></span>
          <label>Places restantes</label>
          <span class="placeholder col-12"></span>
          <label>Url du film</label>
          <span class="placeholder col-12"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="validEditTicket();modal.close('Save click')">Valider</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
  </div>
</ng-template>
