<div class="row my-3" *ngIf="ticket && !modify">
  <div class="col-3">
    <img src="{{ticket.urlImage}}" class="rounded img-thumbnail" style="width: 200px" alt="affiche du film {{ticket.name}}">
  </div>
  <div class="col align-self-end">
    <div class="row">
      <div class="col-12">
        <p>{{ticket.name}} - {{ticket.nbLefts}} restant(s)</p>
      </div>
      <div class="col-12">
        <p>{{ticket.description}}</p>
      </div>
      <div class="col-2">
        <button (click)="edit()" class="btn btn-outline-dark"><i class="bi bi-pen-fill"></i></button>
      </div>
      <div class="col-2">
        <button (click)="delete()" class="btn btn-outline-dark"><i class="bi bi-x-circle-fill"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="row my-3" *ngIf="ticket && modify">
  <div class="col-3">
    <img src="{{ticket.urlImage}}" class="rounded img-thumbnail" style="width: 200px" alt="affiche du film {{ticket.name}}">
  </div>
  <div class="col align-self-end">
    <form>
      <div class="form-group my-3">
        <label for="name">Nom du film</label>
        <input id="name" name="name" class="form-control" placeholder="Nom du film" [(ngModel)]="ticket.name">
        <label for="description">Description du film</label>
        <input id="description" name="description" class="form-control" placeholder="Description du film" [(ngModel)]="ticket.description">
        <label for="places-restantes">Nom du film</label>
        <input id="places-restantes" name="places-restantes" class="form-control" placeholder="Nombre de places restantes" [(ngModel)]="ticket.nbLefts">
      </div>
    </form>
    <div class="col-12">
      <button (click)="edit()" class="btn btn-outline-dark"><i class="bi bi-check-circle-fill"></i></button>
    </div>
  </div>
</div>
